*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;   
    text-decoration: none;
    list-style: none;
}

:root{
    --text-color: #f5f5dc;
    --orange-color: orangered;
    --background-color: rgba(0, 0, 0, 0.8);
}

.About{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12%  8%;
    gap: 10em;
    background: white;
}
.about-img img{
    position: relative;
    width: 600px;
    height: 454px;
    border-radius: 50%;
}

.heading{
    font-size: 42px;    
}

.h3about{
    font-size: 20;
    margin-top: 1em;
    margin-bottom: 1em;
}

.pabout{
    font-size: 18px;
    margin: 25px 0 30px;
    letter-spacing: 0.5px;
    line-height: 25px;
}

.btn-3{
    
    padding: 15px 28px;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 2px solid transparent;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
    border-radius: 14px;
    margin-top: 1em;
    
   
}

.btn-3:hover{

    background-color: var(--text-color);
    color: black;
    border: 2px solid black;
}

