*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;   
    
}


body{

    background-color: #c5c5c5;
}

:root{
    --text-color: #f5f5dc;
    --orange-color: orangered;
    --background-color: rgba(0, 0, 0, 0.8);
}

.inner{
    padding-top: 20px;
}

.Titelo{
text-align: center;
padding: 8rem;
font-size: 30px;
}

.Container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon{
    padding: 1rem;
    color: black;
    cursor: pointer;
}