*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;   
}


body{
    background-color: #c5c5c5;
}

:root{
    --text-color: #f5f5dc;
    --orange-color: orangered;
    --background-color: rgba(0, 0, 0, 0.8);
}

.inner{
    padding-top: 20px;
}

.Titelo{
 text-align: center;
 padding: 6rem;
 font-size: 30px;
}

.Container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 200px;
   
    
}

.icon{
    padding: 1rem;
    cursor: pointer;
    width: 180px;
    height: 180px;
    position: relative;
    border-radius: 45px;
    background-color: var(--text-color);
}

.skill-titel h3{
    margin-bottom: 30px;
    margin-top: 30px;
}

.skill-box{
    justify-content: center;
    align-items: center;
    
  

}


.skill-box p {
    margin-top: 50px;
    
    
   
}

